# roles/keepalived/templates/keepalived.conf.j2

! Configuration File for Keepalived

global_defs {
  router_id {{ keepalived_router_id }}
  script_user root
  enable_script_security
}

vrrp_script chk_service {
  script "/usr/local/bin/{{ keepalived_script_service | lower }}-check.sh"
  interval {{ keepalived_script_interval }}
  weight {{ keepalived_script_weight }}
}

vrrp_instance {{ keepalived_vrrp_instance_name }} {
  state {{ keepalived_vrrp_instance_state }}
  interface {{ keepalived_interface }}
  virtual_router_id {{ keepalived_virtual_router_id }}
  priority {{ keepalived_priority }}
  advert_int {{ keepalived_advert_interval }}
  unicast_src_ip {{ keepalived_unicast_src_ip }}
  unicast_peer {
    {{ keepalived_unicast_peers | join('\n    ') }}
  }

  authentication {
    auth_type PASS
    auth_pass {{ keepalived_auth_password }}
  }

  virtual_ipaddress {
    {{ keepalived_virtual_ip | join('\n    ') }}
  }

  track_script {
    chk_service
  }
}
